extends ../layout.pug

block content
  div
    a(href=`/posts`) ← Back to posts

    h1=post.title
    p Posted on #{post.createdAt}
    pre=post.body

    h2 Comments
    form(action=`/posts/${post.id}/add-comment` method="post")
      textarea(name="content" cols="60" rows="3")
      br
      button(type="submit") Add comment
    each comment in comments
      ul
        li
          h5 By Anonymous
          pre= comment.createdAt
          p= comment.content

    a(href=`/posts/${post.id}/update`)
      button Update

    form(action=`/posts/${post.id}/delete` method="post")
      button(type="submit") Delete post
