extends ../layout.pug

block content
  div
    a(href=`/posts`) ← Back to posts

    hr

    h1=post.title
    img(src=post.imageURL)
    p Posted on #{post.createdAt}
    .post-content=post.body

    h2 Comments (#{comments.length})
    form(action=`/posts/${post.id}/add-comment` method="post")
      textarea(name="content" cols="60" rows="3" placeholder="Write some text...")
      br
      button(type="submit").inline Add comment
    each comment in comments
      article
        header
          strong By Anonymous 
          small on #{comment.createdAt}
          form(action=`/posts/${post.id}/comments/${comment.id}/delete` method="post")
            button.inline Delete
        div= comment.content

    a(href=`/posts/${post.id}/update` role="button" style="margin-right: 12px").outline Update
    form(action=`/posts/${post.id}/delete` method="post").inline
      button.inline.contrast Delete post
